div {display: inline-block;}
.green{
    background-color: green;
    ruby-span: initial;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}
.container{
    width: 100px;
}
